In [13]:
import pandas as pd
import numpy as np
sentences =['الطبيعة الجميلة الخلابه و الطقس في الشتاء',
           'في الصيف و الربيع الطقس جميل',
           ' الطقس الربيع هنا يتكاثر ثم ينام وحيداً']

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
vec=CountVectorizer()
X= vec.fit_transform(sentences)
bag_of_words = pd.DataFrame(X.toarray() , columns=vec.get_feature_names())
bag_of_words

,الجميلة,الخلابه,الربيع,الشتاء,الصيف,الطبيعة,الطقس,ثم,جميل,في,هنا,وحيدا,يتكاثر,ينام
0,1,1,0,1,0,1,1,0,0,1,0,0,0,0
1,0,0,1,0,1,0,1,0,1,1,0,0,0,0
2,0,0,1,0,0,0,1,1,0,0,1,1,1,1

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
vec= TfidfVectorizer()
X = vec.fit_transform(sentences )
bag_of_words = pd.DataFrame(X.toarray() , columns=vec.get_feature_names())
np.round(bag_of_words ,2)

,الجميلة,الخلابه,الربيع,الشتاء,الصيف,الطبيعة,الطقس,ثم,جميل,في,هنا,وحيدا,يتكاثر,ينام
0,0.45,0.45,0.00,0.45,0.00,0.45,0.27,0.00,0.00,0.34,0.00,0.00,0.00,0.00
1,0.00,0.00,0.41,0.00,0.53,0.00,0.32,0.00,0.53,0.41,0.00,0.00,0.00,0.00
2,0.00,0.00,0.31,0.00,0.00,0.00,0.24,0.41,0.00,0.00,0.41,0.41,0.41,0.41

In [16]:
sentences = [' الشر كامن في الانسان' ,
            'كذلك الخير كامن في الانسان',
            'ما أعجب هذا الانسان',
            'ايها الانسان من راك']

In [17]:
from sklearn.feature_extraction.text import CountVectorizer

In [18]:
vec= CountVectorizer()
X= vec.fit_transform(sentences)
X.toarray()

array([[0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0],
       [0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0],
       [1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1],
       [0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0]], dtype=int64)

In [19]:
bag_of_words = pd.DataFrame(X.toarray() , columns=vec.get_feature_names())
bag_of_words

   أعجب  الانسان  الخير  الشر  ايها  راك  في  كامن  كذلك  ما  من  هذا
0     0        1      0     1     0    0   1     1     0   0   0    0
1     0        1      1     0     0    0   1     1     1   0   0    0
2     1        1      0     0     0    0   0     0     0   1   0    1
3     0        1      0     0     1    1   0     0     0   0   1    0

In [20]:
vec=CountVectorizer()
X= vec.fit_transform(sentences)
bag_ofWords = pd.DataFrame(X.toarray()  ,columns=vec.get_feature_names())
bag_ofWords

   أعجب  الانسان  الخير  الشر  ايها  راك  في  كامن  كذلك  ما  من  هذا
0     0        1      0     1     0    0   1     1     0   0   0    0
1     0        1      1     0     0    0   1     1     1   0   0    0
2     1        1      0     0     0    0   0     0     0   1   0    1
3     0        1      0     0     1    1   0     0     0   0   1    0

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [25]:
vec = TfidfVectorizer()
X = vec.fit_transform(sentences)
bagofword=pd.DataFrame(X.toarray() ,  columns=vec.get_feature_names())
np.round(bagofword ,3)

,أعجب,الانسان,الخير,الشر,ايها,راك,في,كامن,كذلك,ما,من,هذا
0,0.000,0.329,0.000,0.631,0.000,0.000,0.497,0.497,0.000,0.000,0.000,0.000
1,0.000,0.278,0.533,0.000,0.000,0.000,0.420,0.420,0.533,0.000,0.000,0.000
2,0.553,0.288,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.553,0.000,0.553
3,0.000,0.288,0.000,0.000,0.553,0.553,0.000,0.000,0.000,0.000,0.553,0.000